<!doctype html>
<html>
<head>
    <title>List of Articles</title>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
</head>

<body>
    <h2>News Articles</h2>

    <h3>{{ location.location_name }}</h3>

    <div id="article-list"></div>

    <!-- TO DO: limit article list to # of items -->

    <!-- <h4>{{ test_headline }}</h4> -->

    <ul>
    {% for article in articles %}
    <li>
        <a href='{{ article.web_url }}'>{{ article.headline | safe }}</a>
        {{ article.pub_date[0:10] }}
    </li>

    {% endfor %}
    </ul>

    <script>

    // console.log('Testing');
    // console.log(typeof articles)

    // console.log(typeof location);

    // $('#article-list').ready(function(){
    //     console.log('Testing');

    // })


    </script>




</body>
</html>
