<!doctype html>
<html>
<head>
    <title>List of Articles</title>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>


    <h2>News Articles</h2>

    <h3>{{ location.location_name }}</h3>

    <!-- <button type="button">Back</button> -->

    <div id="article-list"></div>

    <ul>
    {% for article in articles %}
    <li>
        <a href='{{ article.web_url }}'>{{ article.headline | safe }}</a>
        {{ article.pub_date[0:10] }}
    </li>

    {% endfor %}
    </ul>

</body>
</html>
