<!doctype html>
<html>
<head>
    <title>Jessica's Project</title>

    <script src='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet'/>

    <style>
      body { margin: 10; padding: 10; }
      #map { position: absolute; width: 75%; height: 75%; }
    </style>

</head>

<body>

    <div class="sidebar pad2">
        <h1>What's going on in the world?</h1>
        <h3>Let's find out!</h3>

    <!-- TO DO: divs, columns, etc. on this page need work (i.e. I need to understand them)! -->

        <ul>
            {% for location in locations %}
                <li>
                <a href="/articles/{{ location.location_id }}">
                        {{ location.location_name.title() }}
                        <!-- .title() converts a string to Title Case -->
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div id="map" class="map pad2">
    </div>

    <script>
        
        L.mapbox.accessToken = 'pk.eyJ1Ijoiam1sYW5nc3RvbiIsImEiOiI1MGFhMGUzZmFjOTJjMmFkYTVjZTQ0MDExYjQ4NzhkYyJ9.xjCipe1mRK_lbjkQruXkvA';
        
        var map = L.mapbox.map('map', 'mapbox.streets', {
            scrollWheelZoom: false
        }).setView([0, 0], 1);

        var tooltipsLayer = L.mapbox.featureLayer().addTo(map);

        tooltipsLayer.on('layeradd', function(evt) {
            console.log(evt)
            var marker = evt.layer
            var feature = marker.feature

            var popupContent = '<h1>' + feature.properties.title + '</h1><a href="' + feature.properties.articles + '"></a><a href="' + feature.properties.articleUrl + '">View More Articles</a>'

            console.log(feature.properties.articles)

            marker.bindPopup(popupContent)
        })

        tooltipsLayer.setGeoJSON({{ marker_collection | safe }});

// <a href=/articles/1


    // setView([lat, long], zoom)  <- zoom cannot be a decimal

        // L.marker([40.712784, -74.005941]).addTo(map); // NEW YORK CITY
        // L.marker([37.774929, -122.419416]).addTo(map); // SAN FRANCISCO
        // L.marker([41.878114, -87.629798]).addTo(map); // CHICAGO
        // L.marker([38.907192, -77.036871]).addTo(map); // WASHINGTON (DC)
        // L.marker([51.507351, -0.127758]).addTo(map); // LONDON
        // L.marker([48.856614, 2.352222]).addTo(map); // PARIS
        // L.marker([39.904211, 116.407395]).addTo(map); // BEIJING
        // L.marker([19.432608, -99.133208]).addTo(map); // MEXICO CITY
        // L.marker([-34.603684, -58.381559]).addTo(map); // BUENOS AIRES
        // L.marker([30.044420|31.235712]).addTo(map); // CAIRO


        // geoJSON documentation: http://geojson.org/geojson-spec.html

        // NOTE: geoJSON [LONGITUDE, LATITUDE]

        // var geojson = [
        //     {
        //         "type": "Feature",
        //         "geometry": {
        //             "type": "Point",
        //             "coordinates": [-122.419416, 37.774929]
        //         },
        //         "properties": {
        //             "title": "TEST TOOLTIP #1!!!"
        //         }
        //     },
        //     {
        //         "type": "Feature",
        //         "geometry": {
        //             "type": "Point",
        //             "coordinates": [-74.005941, 40.712784]
        //         },
        //         "properties": {
        //             "title": "TEST TOOLTIP #2!!!"
        //         }
        //     }
        // ]


        // var popupContent = "<div id='popup content'><h2>Testing Popup Content</h2><div><p>'<a href='www.google.com'></a></p></div>'"

        // tooltipsLayer.bindPopup(popupContent);


    </script>

</body>

</html>
