<!doctype html>
<html>
<head>
    <title>WorldWise</title>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

    <script src='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet'/>

    <style>
      body { margin: 10; }
      #map { float: left; width: 70%; height: 600px; }
      #sidebar { float: right; width: 25%; height: 600px; overflow: scroll; }
    </style>

</head>

<body>

    <div id="sidebar">

    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            <div class="alert">{{ message }}
            </div>
        {% endfor %}
    {% endwith %}


        <div id="login-info">
            <h3>You are logged in as {{ user.username }}</h3>
            <button type="button" id="logout-button">Log out</button>
            <h1>Welcome, User!</h1>
        </div>

        
        <div id="list-articles">
        </div>

        <div id="add-location">
            <label>Add a favorite location:
                <select id="select-location">
                    {% for location in locations %}
                    <option value="{{ location.location_id }}" data-name="{{ location.location_name }}">{{ location.location_name.title() }}</option>
                    {% endfor %}
                </select>
                <button type="button" id="add-fav-location">Add favorite</button>
            </label>
        </div>

        <div id="fav-locations">
            <label>Your favorite locations:
                <ul id="locations-list">
                    {% for loc in fav_loc %}
                    <li>{{ loc.location_name }}</li>
                    {% endfor %}
                </ul>
            </label>
        </div>

    </div> <!-- close sidebar div -->


    <div id="map">
    </div>


    <script>

        $('#logout-button').click(function(){
            window.location = '/logout';
        });

        $('#add-fav-location').click(function(){
            var location_id = $('#add-fav-location').siblings()[0].value;
            // var location_name = $('#select-location option:selected').data('name');
            // $('#locations-list').append(location_name);
            $.post(
                '/new-location', 
                {location_id: location_id}, 
                function(results){
                    var newMarkerLayer = L.mapbox.featureLayer();
                    newMarkerLayer.on('layeradd', addMarkers);
                    layerGroup.addLayer(newMarkerLayer);
                    newMarkerLayer.setGeoJSON(results.marker_collection);
                    // console.log(results.location_name);
                    var newLocation = $('<li>').html(results.location_name);
                    $('#locations-list').append(newLocation);
            });
        });


        // per Mapbox mentors, it's okay that this key is not secret
        L.mapbox.accessToken = 'pk.eyJ1Ijoiam1sYW5nc3RvbiIsImEiOiI1MGFhMGUzZmFjOTJjMmFkYTVjZTQ0MDExYjQ4NzhkYyJ9.xjCipe1mRK_lbjkQruXkvA';
        
        // Instantiate map.  First arg is the html element id ('map').
        // Second arg is the specific map. Right now is a default Mapbox streets map. Later can replace this with map I design in Mapbox Studio.
        var map = L.mapbox.map('map', 'mapbox.streets', {
            scrollWheelZoom: false
            }).setView([20, 0], 2);


        // var popupsLayer = L.mapbox.featureLayer().addTo(map);
        var popupsLayer = L.mapbox.featureLayer();

        var layerGroup = L.layerGroup().addLayer(popupsLayer).addTo(map);

        // layerGroup.addLayer(popupsLayer)

        // layerGroup.on('layeradd', addMarkers);
        popupsLayer.on('layeradd', addMarkers);

        popupsLayer.setGeoJSON({{ marker_collection | safe }});


        function addMarkers(evt) {
            var marker = evt.layer;
            var feature = marker.feature;

            var popupContent = '<h1>' + feature.properties.title + '</h1><ul><li><a href="' + feature.properties.article_1_url + '">' + feature.properties.article_1_headline + '</a> ' + feature.properties.article_1_date + '</li><li><a href="' + feature.properties.article_2_url + '">' + feature.properties.article_2_headline + '</a> ' + feature.properties.article_2_date + '</li><li><a href="' + feature.properties.article_3_url + '">' + feature.properties.article_3_headline + '</a> ' + feature.properties.article_3_date + '</li></ul><button type="button" class="popup-btn" id="btn">View More Articles!</button>'

            marker.bindPopup(popupContent);
        };

        // popupsLayer.on('layeradd', function(evt) {
        //     // console.log(evt)
        //     var marker = evt.layer
        //     var feature = marker.feature

        //     var popupContent = 
        //         '<h1>' + feature.properties.title + '</h1><ul><li><a href="' + feature.properties.article_1_url + '">' + feature.properties.article_1_headline + '</a> ' + feature.properties.article_1_date + '</li><li><a href="' + feature.properties.article_2_url + '">' + feature.properties.article_2_headline + '</a> ' + feature.properties.article_2_date + '</li><li><a href="' + feature.properties.article_3_url + '">' + feature.properties.article_3_headline + '</a> ' + feature.properties.article_3_date + '</li></ul><button type="button" class="popup-btn" id="btn">View More Articles!</button>'

        //     console.log(feature.properties.articles)

        //     marker.bindPopup(popupContent)
        // })

        // popupsLayer.setGeoJSON({{ marker_collection | safe }});


        map.on('click', function(evt){
            $('#add-location').show();
            $('#fav-locations').show();
            $('#list-articles').hide();
        })

        map.on('popupopen', function(evt){
            console.log("Popup opened!");
            $('.popup-btn').click(function(){
                console.log("Button clicked!");
                c = evt.popup.getContent();
                c_str = c.slice(4,20);
                c_end = c_str.search("<");
                city = c_str.slice(0,c_end);
                console.log("CITY: " + city);
                geoj = popupsLayer.getGeoJSON();
                // console.log(g);
                // console.log(typeof marker_collection);
                // var marker = evt.popup.getContent();
                // console.log(marker);
                // f = popupsLayer.feature;
                // console.log("FEATURE: " + f);

                // console.log("Type of geoj:" + typeof geoj);
                // console.log("geoj: " geoj);
                console.log("geoj.features.length: ", geoj.features.length);
                city_id = 0;
                for (var i = 0; i < geoj.features.length; i++) {
                    // console.log(geoj.features[i].properties.title);
                    if (city == geoj.features[i].properties.title) {
                        console.log(geoj.features[i].properties.title, geoj.features[i].properties.description);
                        cityUrl = geoj.features[i].properties.articleUrl;
                    };
                };
                // if (city_id != 0) {
                //     window.location = '/articles/' + city_id;
                // } else {
                //     window.location = '/';
                // }

                // AJAX 
                $.get(cityUrl, function(results){
                    $('#list-articles').html(results);
                    $('#add-location').hide();
                    $('#fav-locations').hide();
                });
            });
        });

        map.on('popupclose', function(evt) {
            console.log("Popup closed!");
        });

    </script>

</body>

</html>
